

.cmfont{font-size:12pt; font-family:sans-serif; letter-spacing:-1px; text-decoration: none;}
.cmfont1{font-size:10pt;font-family: sans-serif;  letter-spacing:-1px; text-decoration: none;}

.product_detail_table1 { width:747px; }
.product_detail_mainimg{height:315px; width:400px; }
.product_detail_padding{padding-left:10px;}

a:link {font-size:13pt; font-family:sans-serif; color: 444444; text-decoration: none;}
a:visited {font-size:13pt; font-family:sans-serif; color: 444444; text-decoration: none;}
a:hover {font-size:13pt; font-family:sans-serif; color: #12aa53; text-decoration: none;}

